# Arquivos de ambiente virtual do Python
.venv/
__pycache__/
*.pyc

# Banco de dados local (Não enviar o arquivo de dados bruto para o git)
*.db-journal
*.sqlite3

# Arquivos de configuração do editor de código
.vscode/
.idea/
